body{
    margin:0px;
    width:auto;
  font-family:Arial, Helvetica, sans-serif;
  }
  .header { 
      background-color: #992620;
      height: 5em;
      width:100vw;
      display:flex;
      justify-content:space-between;
      align-items:center;
      }
  .logo{
    color:#f9faf8;
    font-size:24px;
    margin-left: 10em;
    margin-right: 5em;
    font-weight:bold;
  }
.links{
    
    
    margin-right:10em;
    margin-left: 5em;
  }
a{
  color:#e5e7eb;
  font-size:18px;
  text-decoration: none;
  margin-right:1em;
}
.topo{
  display:flex;
  justify-content:center;
  align-items:center;
  background-color: #1F2937;
  height: 35em;
  width:100vw;
}
.esq{
  width:30em;
  height:15em;
}
.hero{
    color:#f9faf8;
    font-size:48px;
    font-weight:bold;
  margin:0px 10px 0px 0px;
    }
.subhero{
    color:#e5e7e8;
    font-size:18px;
  margin:10px 10px 0px 0px;
    }
.herobut{
  color:white;
  background-color: #3882f6;
  border-radius:10px;
  border-style:none;
  margin:10px 10px 0px 0px;
  padding: 10px 30px;
  font-weight:bold;
  font-size:1.2em;
}
.dir{
  width:30em;
  height:15em;
  background-color:grey;
  display:flex;
  justify-content:center;
  align-items:center;
}

.meio {
    margin: 0px 10vw 0px 10vw;
    background-color: white;  
    height: 35em;
    width:100;
    display:grid;
    justify-items: center;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-areas:
      "titu titu titu titu"
      "a b c d"; 
  }
.titulo{
  grid-area:titu;
  font-size:36px;
  font-weight:bold;
  margin-top:20px;
  }

.card{
          
      border-radius:10%;
      border-style: solid;
      border-width: 5px;  
      border-color: #3882f6;
      width: 10em;
      height: 10em;
 
  }
.sub{
  width: 20vw;
  text-align: center;
  margin-top:-5em;
  }
.msg{
  background-color: #e5e7eb;
  height: 35em;
  width:100vw;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}
.texto{
  width:60%;
  font-size:36px;
  color:gray;
  font-weight:200;
  font-style:italic;
  text-align: justify;
 }
.autor{
  color:#2b2e2c;
  font-size:1.5em;
  font-weight:600;
  padding-left:29em;
  padding-top:1em;
}
  
.call{
    background-color: white; 
    height: 25em;
    width:100;
    display:flex;
    justify-content:center;
    align-items:center;
 }
.quadro{
  width:70em;
  height:10em;
  border-radius:10px;
  background-color: #3882f6;
  display:flex;
  justify-content:space-between;
  align-items:center;
  
  
}
.titesq{
  font-size:25px;
  color:#e5e7e8;
  margin:10px 6em;
}
.texesq{
  width:40em;
  font-size:15px;
  color:#e5e7e8;
  margin:10px 10em;
}
.botao{
  width:7em;
  height:3em;
  margin-right:10em;
  border-radius:10px;
  background-color: #3882f6;
  color:white;
  border-color:white;
}
.footer {
      background-color: #1F2937;
      height: 5em;
      width:100vw;
      color:#e5e7eb;
      font-size:15px;
      font-weight:200;
      display:flex;
      justify-content:center;
      align-items:center;
  }
  
